
    a {
      text-decoration: none;
      // padding: 20px;
      margin: 20px;
    //   font-weight: 700;
    font-size: 20px;
      color: white;
    }
    .nav--active {
      text-decoration: underline;
    }
  
  